@charset "UTF-8"

* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    background-image: linear-gradient(to top, #84B1D1, transparent);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    color: #0E4C77;
    font-size: 3em;
    margin-top: 20px;
}

p {
    color: #0A5C96;
    font-size: 2em;
}

button {
    color: white;
    background-color: #1c77b8;
    border: 6px solid #1c77b8;
    border-radius: 5px;
    font-size: 2.4em;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0E4C77;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);
    transform: scale(1.05);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

div {
    margin-bottom: 100px;
}

div#primeira {
    margin-top: 80px;
}